/ {
    compatible = "zmk,shield";
};

&gpio0 {
    direction_red: direction_red {
        gpios = <17 GPIO_ACTIVE_LOW>;
        label = "Direction Red";
    };

    direction_yellow: direction_yellow {
        gpios = <20 GPIO_ACTIVE_LOW>;
        label = "Direction Yellow";
    };

    direction_blue: direction_blue {
        gpios = <22 GPIO_ACTIVE_LOW>;
        label = "Direction Blue";
    };

    direction_green: direction_green {
        gpios = <24 GPIO_ACTIVE_LOW>;
        label = "Direction Green";
    };

    switch_1: switch_1 {
        gpios = <11 GPIO_ACTIVE_LOW>;
        label = "Switch 1";
    };

    switch_4: switch_4 {
        gpios = <19 GPIO_ACTIVE_LOW>;
        label = "Switch 4";
    };

    switch_5: switch_5 {
        gpios = <21 GPIO_ACTIVE_LOW>;
        label = "Switch 5";
    };

    switch_6: switch_6 {
        gpios = <23 GPIO_ACTIVE_LOW>;
        label = "Switch 6";
    };

    switch_7: switch_7 {
        gpios = <12 GPIO_ACTIVE_LOW>;
        label = "Switch 7";
    };
};

&gpio1 {
    direction_black: direction_black {
        gpios = <0 GPIO_ACTIVE_LOW>;
        label = "Direction Black";
    };

    switch_2: switch_2 {
        gpios = <4 GPIO_ACTIVE_LOW>;
        label = "Switch 2";
    };

    switch_3: switch_3 {
        gpios = <6 GPIO_ACTIVE_LOW>;
        label = "Switch 3";
    };
};
