# SPDX-License-Identifier: MIT

if SHIELD_GOSSIEKEY

config SHIELD_GOSSIEKEY
    bool "GossieKey Split Keyboard"
    depends on SHIELD
    select ZMK_KEYBOARD_SPLIT
    select ZMK_KSCAN_MATRIX

endif
